
body {
    font-family: Sans-Serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

a {
    color: white;
    font-weight: bold;
    text-shadow:
        black 0px 0px 0.25em,
        rgba(0,0,0,0) 0px 0px 0.5em,
        black 0px 0px 1em;
    text-decoration: none;
    transition: text-shadow 125ms;
}

a:hover {
    text-shadow:
        black 0px 0px 0.25em,
        rgba(0,0,0,1) 0px 0px 0.5em,
        black 0px 0px 1em;
}

a.selected {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
}